 body{
     width: 100%;
     margin: 0px;
     background:linear-gradient(90deg, rgb(0, 0, 0),rgb(172, 25, 25));

 }

 .entete{
    width: 100%;
    height:50px;
    background:linear-gradient(rgb(233, 114, 114),rgb(134, 16, 16));
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content : center;
 }


  a{
    color: rgb(250, 250, 250);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-decoration-style: solid;
    text-shadow: 0 1px 0 rgb(235, 34, 34);
    font-size: 150%; 
    margin-left:10px;
    margin-top: 10px;  
}

.onglet {
    display:flex;
    justify-content: center; 
    justify-content: space-around;
    margin-left:50px;
    margin-right: 50px;
}
  
 
.onglet:hover {
    width : 150px;
    height: 46px;
    background: rgb(255, 255, 255,0.5);
    background-size: 200px;
    border-bottom: 4px solid rgb(248, 248, 250);
    transition: text-shadow, color  2s;
   
}

a:hover   { 
    color: rgb(12, 2, 14);
    transition: text-shadow, color  1s;
} 

.slider{
    display:flex;
    flex-wrap: nowrap;
}
.slider img{
  width: 34%; 
  height: 600px;
  overflow: hidden;
}

p{
    text-decoration-style: solid;
    font-family: 'Poppins', sans-serif;
    color: rgb(248, 248, 250);
    font-size: 50px;
    text-align: center;
}

.icone{
    height: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.lien{
    display:flex;
    justify-content: center; 
}
.lien a{
    text-decoration-style: solid;
    font-family: 'Poppins', sans-serif;
    color: rgb(9, 9, 97);
    font-size: 20px;
    margin-bottom:50px;
    margin-top: 50px;
}

.bottom{
    width: 100%;
    height:600px;
    display:flex;
    flex-direction: column;
    align-items: center; 
} 

.bottom iframe{
    width:600px;
    height:400px;
    display:flex;
    justify-content: center; 
}

.cover{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url('https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png');
}

h1{
    text-decoration-style: solid;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
}

.icone2{
    margin-left:250px;
    margin-top:50px;
    height: 500px;
    
}

.icone2 img{
    width:25%;
    height:220px;
    margin-left:10px;
    margin-right:10px;
}
.icone3{
    margin-top:200px;
    height: 500px;    
}
.icone4{
    margin-top:50px;
    height: 450px;    
}
label{
    text-decoration-style: solid;
    font-family: 'Gelasio', serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-top: 200px;  
}

input{
    width:25%;
    height:30px;
}
.select1{
    width:25%;
    height:40px;
}
.button1{
    width:10%;
    height:30px;  
}